<form action="/users/edit/{{userId}}" method="POST">
    <input type="text" value={{user.name}} name="name">
    <input type="text" value={{user.age}} name="age">
    <button type="submit">Edit user</button>
</form>